.Project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Project-img {
  border-radius: 50px;
}

.Parent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Child {
  flex: 1;
}

.Project-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Project-links > a {
  display: inline-block;
  /* border: 1px solid; */
  /* margin: 1em; */
  margin-bottom: 1em;
}